<div class="admin">
  {{> admin/search-asin}}
  <div class="d-flex width-90">
    <div class="p-3">      
      <a href='{{book.url}}' target="_blank">
          <img class="img-fluid img-thumbnail rounded" src='{{book.coverUrl}}' />
      </a>
    </div>
    <div class="flex-grow-1 p-3">
      <p>
        <span class="me-1">Titre:</span>
        <a href='{{book.url}}' target="_blank">{{book.title}}</a>
      </p>

      <p>
        <span class="me-1">ASIN:</span>
         {{book.asin}}
      </p>

      <p>
        <span class="me-1">Auteur(s):</span>
        {{#each book.authors}}
          <a href="{{url}}" target="_blank">{{name}}</a>,
        {{/each}}
      </p>

      <p>
        <span class="me-1">Classement global:</span>
        <span class="badge bg-primary rounded-pill">
          {{#if book.globalRank}}
            {{book.globalRank.rank}} ({{book.globalRank.category}})
          {{else}}
            n/a
          {{/if}}
        </span>
      </p>

      <p>
        <span class="me-1">Contenu A Plus: </span>
        {{#if book.hasAPlusContent}}
          ✅
        {{else}}
          ❌
        {{/if}}
      </p>
      <p>
        <span class="me-1">Note moyenne: </span>
        {{book.rating.value}} / 5 (basé sur {{book.rating.number}} avis)
      </p>
      <p>
        <span class="me-1">Date de publication: </span>
        {{book.publicationDate}}
      </p>
      <p>
        <span class="me-1">Format(s): </span>
        {{#each book.variants}}
          {{#if isCurrent}}
            <a href="{{url}}" target="_blank">{{type}}</a>,
          {{else}}
            <a href="{{url}}" target="_blank">{{type}}</a> (<a href="?asin={{asin}}" target="_blank">{{asin}}</a>), 
          {{/if}}
        {{/each}}
      </p>
      
    </div>
  </div>
  <div class="width-90 p-3">
    <p class="me-1">Catégories et TOP:</p>
    
    <table class="table-tops table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Catégorie</th>
          <th scope="col">Classement Global</th>
          <th class="table-info" scope="col">Score</th>
          <th scope="col">Top 1</th>
          <th scope="col">Top 3</th>
          <th scope="col">Top 5</th>
          <th scope="col">Top 30</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{#each book.categories}}
          <tr class="category-row" data-id="{{id}}">
            <td><a href='{{url}}' target="_blank">{{categoryTree}}</a></td>
            <td>
              {{#if rank}}
              <span class="badge bg-primary rounded-pill ms-3">{{rank}}</span>
              {{/if}}
            </td>
            <td class="td-score table-info text-center">&#9203;</td>
            
            <td class="td-top-1 text-center">&#9203;</td>
            <td class="td-top-3 text-center">&#9203;</td>
            <td class="td-top-5 text-center">&#9203;</td>
            <td class="td-top-30 text-center">&#9203;</td>
            
          </tr>
        {{/each}}
      </tbody>
    </table>
    <button class="btn-fetch-tops">Mettre à jour les tops</button>
      {{!-- <ul class="list-group">
        {{#each book.categories}}
          <li class="list-group-item">
            <a href='{{url}}' target="_blank">{{categoryTree}}</a>
            {{#if rank}}
                <span class="badge bg-primary rounded-pill ms-3">{{rank}}</span>
            {{/if}}
          </li>
        {{/each}}
      </ul> --}}

      {{!-- <ul class="list-group">
        {{#each categoriesWithTops}}
          <li class="list-group-item">
            <a href='{{url}}' target="_blank">{{categoryTree}}</a>
            {{#if rank}}
                <span class="badge bg-primary rounded-pill ms-3">{{rank}}</span>
            {{/if}}
            <span>Positions globales: </span>
            {{#each tops}}
              <span>Top {{position}} - </span><span class="badge bg-primary rounded-pill ms-3">{{topRanking}}</span>
            {{/each}}
          </li>
        {{/each}}
      </ul> --}}
      

    </p>
  </div>
  
</div>
<script defer src="assets/js/axios.min.js"></script>
<script defer src="assets/js/admin-books.js"></script>