<div class="container-fluid">
  {{> logo}}
  {{> search_asin}}
  <div class="d-flex">
    <div class="p-3">      
      <a href='{{book.url}}'>
          <img class="img-fluid img-thumbnail rounded" src='{{book.coverUrl}}' />
      </a>
    </div>
    <div class="flex-grow-1 p-3 fs-5">
      <p>
        <span class="fw-bold me-1">Titre</span>
        <a href='{{book.url}}'>{{book.title}}</a>
      </p>

      <p>
        <span class="fw-bold me-1">ASIN</span>
         {{book.asin}}
      </p>

      <p>
        <span class="fw-bold me-1">Auteur(s)</span>
         {{book.authors}}
      </p>

      <p>
        <span class="fw-bold me-1">Classement global</span>
        <span class="badge bg-primary rounded-pill ms-3">{{book.globalRank}}</span>
      </p>
      <div>
        <p class="fw-bold me-1">Catégories</p>
          <ul class="list-group">
            {{#each book.categories}}
              <li class="list-group-item">
                <a href='{{url}}'>{{categoryTree}}</a>
                {{#if rank}}
                    <span class="badge bg-primary rounded-pill ms-3">{{rank}}</span>
                {{/if}}
              </li>
            {{/each}}

          </ul>

          </p>
      </div>
    </div>
  </div>
  
</div>